<section class="article-container">
    <!-- Page header -->
    <header class="post-heading">
        <h1><%- item.title || "Untitled" %></h1>
    </header>
    <!-- Post content -->
    <article class="post-content">
        <%- item.content %>
        <!-- Meta -->
    </article>
</section>
