<div id="hi">
    <p>Hey, I'm frankpf. I'm an undergraduate CS student at <a href="http://ufsc.br">UFSC</a> and this is where I write about programming and computer science.</p>
    <p>Take a look at my code on <a href="https://github.com/frankpf">GitHub</a> or find out more about me <a href="/about">here</a>.</p>
</div>
