<!doctype html>
<html>

<%- partial('_partials/head') %>

<body>
    <!-- Content -->
    <%- body %>

    <!-- Scripts -->
    <%- partial('_partials/scripts') %>
    <!-- Analytics -->
    <%- partial('_partials/analytics') %>
</body>
</html>
